body{
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background-color: black;
}

h1 {
  color: white;
  position: relative;
  text-align: center;
  margin: 0 auto 0
  font-family: 'PT Sans', sans-serif;
}

.css-slideshow{
  position: relative;
  max-width: 800px;
  height: 500px;
  margin: 1em auto .5em auto;
}
.css-slideshow figure{
  margin: 0;
  max-width: 800px;
  height: 370px;
  background: #000;
  position: absolute;
}
.css-slideshow img{
  box-shadow: 0 0 2px #666;
}
.css-slideshow figcaption{
  position: absolute;
  top: 0;
  color: #fff;
  background: rgba(0,0,0, .3);
  font-size: .8em;
  padding: 8px 12px;
  opacity: 0;
  transition: opacity .5s;
}
.css-slideshow:hover figure figcaption{
  transition: opacity .5s;
  opacity: 1;
}
.css-slideshow-attr{
  max-width: 800px;
  text-align: right;
  font-size: .7em;
  font-style: italic;
  margin:0 auto;
}
.css-slideshow-attr a{
  color: #666;
}
.css-slideshow figure{
  opacity:0;
}
figure:nth-child(1) {
  animation: xfade 24s 15s infinite;
}
figure:nth-child(2) {
  animation: xfade 24s 10s infinite;
}
figure:nth-child(3) {
  animation: xfade 24s 5s infinite;
}
figure:nth-child(4) {
  animation: xfade 24s 0s infinite;
}


@keyframes xfade{
  0%{
    opacity: 1;
  }
  20.5% {
    opacity: 1;
  }
  30.5%{
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

ul{
  margin: 20px auto;
  width: 423px;
}
li {
  display:inline-block;

}
.btn {
 background: #ffffff;
 background-image: -webkit-linear-gradient(top, #ffffff, #808080);
 background-image: -moz-linear-gradient(top, #ffffff, #808080);
 background-image: -ms-linear-gradient(top, #ffffff, #808080);
 background-image: -o-linear-gradient(top, #ffffff, #808080);
 background-image: linear-gradient(to bottom, #ffffff, #808080);
 -webkit-border-radius: 28;
 -moz-border-radius: 28;
 border-radius: 28px;
 font-family: Arial;
 color: #ffffff;
 font-size: 20px;
 padding: 10px 20px 10px 20px;
 text-decoration: none;
display:block;
}

.btn:hover {
 background: #ffffff;
 text-decoration: none;
}

.btn.about {
  padding: 10px 23px;
}

.btn.past {
  padding: 10px 29px;
}

footer{
  background: grey;
  color: white;
  font-size: 12px;
  padding: 0 20px 0 10px;
}
